 .container{
  max-width: 460px;
  background-color: hsl(231, 12%, 12%);
 
} 
main{

/* width: 75%; */

padding: 1.2rem;
background-color: #23252C;
display: flex;
align-content: center;
justify-content: center;
overflow: hidden;
}

.ppic{
  
  object-fit: scale-down;
  margin: -155px 0 0 -150px;
  
}
.pic{
  border-radius: 5px 5px 0 0;

  height: 317px;
  
  
  overflow: hidden;
}
h1 {
  font-size: 25px;
  text-align: center;
  
  margin: 1.5rem 0 0.5rem 0;
}

h3 {
  color: #F3BF99;
  font-weight: 400;
  line-height: 15px;
  margin: 15px 0px 15px 0px;
  text-align: center;
}
h4{
  text-decoration: none; 
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 15px 0px 15px 0px;

    color: #F5F5F5;

}

  .btn-section{
    display: flex;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

.btn {
  box-shadow: 0px 1px 2px 0px #0000000D;
  border: 1px solid #D1D5DB;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  height: 40px;
  
  font-weight: 400;
  border-radius: 6px;
  font-size: 1.1rem;
  
}
.btn-li{
  background: #5093E2;
  border: 1px solid #5093E2;

  color: white;
}

.btn-li>i{
  line-height: 16px;
  color: #fff !important;
}
.btn>i{
    line-height: 16px;
    color: #374151;
}


.text-section {
  margin: 2rem 1.5rem;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 150%; 
  text-align: left;
  color: #DCDCDC;    
}

.text-section > h4 {
  text-align: left;

  font-weight: 700;
  font-size: 18px;
  color: #F5F5F5;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #161619;
  border-radius: 0 0 10px 10px;
  height: 64px;
  font-size: 36px;
}