@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serrif;
}

nav {
  background-color: #f55a5a;
  padding: 20px;
}
nav > h2 {
  text-align: center;

  font-weight: 500;

  color: #ffffff;
}

nav > h2 > i {
  margin-right: 15px;
}

.main {
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: row;
  padding: 4em 3em;
  justify-content: center;
  align-items: center;
}

.card > img {
  width: 12em;
  height: 18em;
  object-fit: cover;
  border-radius: 8px;
  transform: scale(1);
  object-position: center center;
  transition: all 250ms ease-in-out;
}
.card > img:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.side-content {
  padding: 10px 30px;
}
.location {
  display: flex;
  gap: 10px;
  /* margin-top: -50px; */
  margin-bottom: 15px;
  font-weight: lighter;
  align-items: center;
}
.location > i {
  color: #f55a5a;
  font-size: 20px;
}
.location > p {
  text-transform: uppercase;
  letter-spacing: 7px;
}

.location a {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  padding-top: 2px;

  /* identical to box height */
  text-decoration-line: underline;

  color: #918e9b;
}

.side-content > h1 {
  margin: 20px 0px;
}
.side-content > h4 {
  margin: 20px 0px;
}

.side-content > p {
  color: #333;
}

hr {
  width: 80%;

  text-align: center;
}

hr:last-child {
  display: none;
}
